.analytics-chart-box {
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 3px 3px 8px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.analytics-chart-box > p:first-child {
    font-size: 1.15rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.chart-container {
    height: 300px;
}