.mail-list-item {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 1rem;
    transition: all 150ms ease-in;
    -webkit-transition: all 150ms ease-in;
    -moz-transition: all 150ms ease-in;
    -ms-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
}

.mail-list-item:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}


.mail-info-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
    overflow: hidden;
}

.checkbox-container {
    padding: 0.25rem 0;
}

.checkbox-container > input {
    accent-color: #3396D3;
}


.mail-sender {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.mail-sender > p {
    font-size: 1.25rem;
}

.mail-receiver {
    font-size: 1rem;
    margin-left: 0.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.mail-title > p {
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.mail-title-icon {
    color: #476EAE;
    font-size: 1.5rem;
}

.mail-info-icons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.close-mail-text {
    width: 70%;
    font-size: 0.9rem;
    color: #7A7A73;
}


.close-mail-text> p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.open-mail-text {
    width: 100%;
    font-size: 0.9rem;
    color: #37353E;
    white-space: normal;
    overflow-wrap: anywhere;
    
}



.mail-tags {
    margin-top: 0.75rem;
    margin-left: 0.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.mail-tag {
    padding: 0.25rem 0.75rem;
    background: rgba(122, 122, 115 , 0.25);
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    color: #000;
    font-size: 0.85rem;
    font-weight: 700;
}

.mail-date {
    font-size: 0.9rem;
    color: #7A7A73; 
}


@media screen  and (max-width: 650px) {
    
    .mail-sender > p {
        font-size: 1.1rem;
    }
    
    .mail-receiver , .mail-title > p {
        font-size: 0.9rem;
    }
    
    .mail-title-icon {
        font-size: 1.25rem;
    }
    
    .close-mail-text , .open-mail-text {
        font-size: 0.8rem;
    }
    
    .close-mail-text {
        width: 80%;
    }
    
    .mail-tags {
        gap: 0.75rem;   
    }
    
    .mail-tag {
        font-size: 0.8rem;
    }

    .mail-date {
        font-size: 0.8rem;
    }
    
}

@media screen  and (max-width: 550px) {
    .mail-list-item {
        padding: 1rem 0.5rem;
    }

    .mail-date {
        font-size: 0.7rem;
    }

    .close-mail-text {
        width: 90%;
    }
}

@media screen  and (max-width: 500px) {
    .close-mail-text {
        width: 90%;
    }
    .mail-date {
        display: none;
    }
}

@media screen  and (max-width: 500px) {
    .mail-sender > p {
        font-size: 1rem;
    }
    
    .mail-receiver , .mail-title > p {
        font-size: 0.85rem;
    }
    
    .mail-title-icon {
        font-size: 1.1rem;
    }
    
    .close-mail-text , .open-mail-text {
        font-size: 0.8rem;
    }

    .close-mail-text {
        width: 100%;
    }
    
    .mail-tags {
        gap: 0.5rem;   
    }
    
    .mail-tag {
        font-size: 0.75rem;
    }   
}