.home {
    height: 100%;
}
.home-main-stats {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    width: 100%;
}

.activities {
    margin: 2rem auto;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.activity-list {
    padding: 1rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 3px 3px 8px;
}

.activity-list> p:first-child {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.activity-list:first-of-type > ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.transactions-table{
    width:  100%;
}

.transactions-table th {
    text-align: left;
}
.transactions-table td {
    padding-top: 1rem;
}


.activity-list:first-of-type {
    width: 40%;
}

.activity-list:last-of-type {
    width: 60%;
}


@media screen and (max-width: 1150px) {
    .activities {
        flex-direction: column;
        align-items: center;
    }
    .activity-list:first-of-type {
        width: 55%;
    }

    .activity-list:last-of-type {
        width: 80%;
    }
}

@media screen and (max-width: 900px) {
    .activity-list:first-of-type {
        width: 65%;
    }

    .activity-list:last-of-type {
        width: 90%;
    }
}

@media screen and (max-width: 650px) {
    .activity-list:first-of-type {
        width: 90%;
    }

    .activity-list:last-of-type {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .activity-list:first-of-type {
        width: 100%;
    }

    .transactions-table-head-row > th:nth-child(2) {
        display: none;
    }

}

@media screen and (max-width: 480px) {
    .transactions-table-head-row > th:nth-child(3) {
        display: none;
    }

}

@media screen and (max-width: 410px) {
    .activity-list .user-image-container {
        width: 2.5rem;
        height: 2.5rem;
    }
    .activity-list .user-info-container {
        font-size: 0.9rem;
    }
    .activity-list .user-info-container > p:last-child {
        font-size: 0.8rem;
    }
    .activity-list .user-display-btn {
        font-size: 0.8rem;
        gap: 0.25rem;
        padding: 0.35rem 0.25rem;
    }

}