.mails-list-container {
    padding: 1rem 0.5rem;
    width: 75%;
    box-shadow: rgba(0, 0, 0, 0.24) 3px 3px 8px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.mails-list-header {
    border-bottom: 1px solid #7A7A73;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.check-all-btn > input {
    accent-color: #3396D3;
}

.mails-btns {
    padding-right: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
}

.mails-btn {
    padding: 0.5rem 0.75rem;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.mails-btn:hover {
    background-color: rgba(33, 97, 193, 0.2);
}

.mails-btn:active {
    background-color: rgba(33, 97, 193, 1);
    color: #fff;
}

.new-mail-container {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    overflow: hidden;
}

.new-mail-header {
    width: 100%;
    padding: 0.75rem 1rem;
    background-color: rgb(141, 188, 199);
    color: #fff;
    display: flex;
    justify-content: space-between;
}


.new-mail-header > h6 {
    font-size: 1.35rem;
    font-weight: 500;
}

.new-mail-header > button {
    background-color: transparent;
    font-size: 1.5rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    color: #fff;
}


.new-mail-header > button:hover {
    background-color: rgba(33, 97, 193, 0.2);
} 


.new-mail-header > button:active {
    background-color: rgba(33, 97, 193, 1);
} 

.new-mail-inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.new-mail-inputs > input {
    width: 100%;
    padding: 0.65rem 1rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #7A7A73;
    font-size: 1rem;
}

.new-mail-inputs > input:focus {
    outline: none;
}

.new-mail-inputs > input:last-child {
    border-bottom: none;
    height: 10rem;
}


#text-input {
    resize: none;
    width: 100%;
    padding: 0.5rem 1rem;
    height: 10rem;
    font-size: 1rem;
    background-color: transparent;
    border: none;
}

#text-input:focus {
    outline: none;
}

.new-mail-btns {
    width: 100%;
    margin: 1rem 0;
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

.send-btn {
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: rgba(33, 97, 193, 1);
    color: #fff;
    border: none;
    border-radius: 1.25rem;
    -webkit-border-radius: 1.25rem;
    -moz-border-radius: 1.25rem;
    -ms-border-radius: 1.25rem;
    -o-border-radius: 1.25rem;
    transition: all 150ms ease-in;
    -webkit-transition: all 150ms ease-in;
    -moz-transition: all 150ms ease-in;
    -ms-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in;
    cursor: pointer;
}

.send-btn:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
} 

.attachment-btn {
    font-size: 1rem;
    padding: 0.25rem;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}

.attachment-btn:hover{
    background-color: rgba(33, 97, 193, 0.2);
}

.attachment-btn:active {
    background-color: rgba(33, 97, 193, 1);
    color: #fff;
}

#attach-file-input {
    display: none;
}

.btn-deactive {
    background-color: #7A7A73;
    pointer-events: none;
}


.add-tags-container {
    margin-left: 1rem;
    padding: 0.25rem;
    background-color: rgb(141, 188, 199);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.add-tags-container > input {
    flex: 1;
    height: 1.5rem;
    width: 6.5rem;
    background-color: transparent;
    border: none;
    padding-left: 0.5rem;
    color: #fff;
}


.add-tags-container > input:focus {
    outline: none;
}

.add-tags-container > button {
    background-color: transparent;
    border: none;
    padding: 0.25rem 0.5rem;
    color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.add-tags-container > button:hover {
    background-color: rgba(33, 97, 193, 0.2);
}


.add-tags-container > button:active {
    background-color: rgba(33, 97, 193, 1);
}


.new-mail-tags {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 2rem;
}


@media screen and (max-width: 1100px) {
    .mails-list-container {
        width: 80%;
    }
}
@media screen and (max-width: 1000px) {
    .mails-list-container {
        width: 85%;
    }
}
@media screen and (max-width: 950px) {
    .mails-list-container {
        width: 90%;
    }
}

@media screen and (max-width: 900px) {
    .mails-list-container {
        width: 100%;
    }
}